@import "tailwindcss";

@theme inline {
  --color-sol: #d85a30;
  --color-sol-claro: #f0997b;
  --color-mar: #1d9e75;
  --color-mar-claro: #5dcaa5;
  --color-limon: #fac775;
  --color-acierto: #1d9e75;
  --color-fallo: #f0997b;
  --color-crema: #fff8ed;

  --font-titulo: var(--font-fredoka);
  --font-cuerpo: var(--font-nunito);
}

body {
  background: var(--color-crema);
  color: #1a1a1a;
  font-family: var(--font-nunito), sans-serif;
}
